<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.wj.android.cashbook">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 关闭后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--允许程序设置内置sd卡的读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 安装应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cashbook"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="o">

        <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 闪屏界面 -->
        <activity
            android:name=".ui.main.activity.SplashActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Cashbook.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 关于我们界面 -->
        <activity
            android:name=".ui.main.activity.AboutUsActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 我的账本 -->
        <activity
            android:name=".ui.books.activity.MyBooksActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 编辑账本 -->
        <activity
            android:name=".ui.books.activity.EditBooksActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 编辑记录 -->
        <activity
            android:name=".ui.record.activity.EditRecordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 选择关联记录记录 -->
        <activity
            android:name=".ui.record.activity.SelectAssociatedRecordActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 编辑资产 -->
        <activity
            android:name=".ui.asset.activity.EditAssetActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 我的资产 -->
        <activity
            android:name=".ui.asset.activity.MyAssetActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 隐藏资产 -->
        <activity
            android:name=".ui.asset.activity.InvisibleAssetActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />

        <!-- 资产信息 -->
        <activity
            android:name=".ui.asset.activity.AssetInfoActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>